# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# IntelliJ IDEA Files
.idea/
*.iml
*.ipr
*.iws
*.idea

# Build Artifacts
.git/
.gradle/
build/
target/
classes/
bin/
out/
gen/
dependency-reduced-pom.xml
*.class
*.log

# Eclipse Project Files
.classpath
.project
.settings/

# Package Files #
*.war
*.ear
*.bower.json
rebel.xml